# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
.attach_pid*

# Mac
.DS_Store

# NodeJS / npm
node_modules/
npm-debug.log

# Secrets
token
# persistance
store
# Logs
log/
*-log/
# Temporary persistance files
*.tmp
