extends layout

block content
    include main
    script.
        let isBinary = false;
        function addAnswer() {
          let newDiv = document.createElement('div');
          newDiv.classList.add("input");
          newDiv.classList.add("normalAnswer");
          newDiv.innerHTML = document.getElementById('newAnswer').innerHTML;
          document.getElementById('form').append(newDiv);
        }
        function validateForm() {
          // If its a binary question, all given answers are ignored, so we also don't have to validate them
          if (isBinary) {
            return true;
          }
          let errorsList = document.getElementById('errors').firstChild;
          while (errorsList.firstChild) {
            errorsList.removeChild(errorsList.firstChild);
          }
          // Validate
          let errors = [];
          let form = document.getElementById('form');
          let elements = form.elements;
          console.log(elements);
          for (let i = 0; i < elements.length; i++) {
            let element = elements[i];
            if (element.type === "text") {
              if (element.name === "answers") {
                let value = element.value;
                console.log(value);
                if (value.match(/\s/g) !== null) {
                  errors.push('<div>Antwort darf keine Leerzeichen enthalten: "<i>' + value + '</i>"</div>')
                }
                if (value.toLowerCase() !== value) {
                  errors.push('<div>Antwort darf nur Kleinbuchstaben enthalten: "<i>' + value + '</i>"</div>');
                }
              }
            }
          }
          console.log(errors);
          if (errors.length === 0) {
            return true;
          }

          errors.forEach(function(error) {
            let li = document.createElement('li');
            li.innerHTML = error;
            errorsList.appendChild(li);
          });
          return false;
        }
        function toggleBinaryQuestion() {
          let binaryVisibility;
          let normalVisibility;
          if (isBinary) {
            binaryVisibility = 'hidden';
            normalVisibility = 'visible';
            isBinary = false;
          } else {
            binaryVisibility = 'visible';
            normalVisibility = 'hidden';
            isBinary = true;
          }
          document.getElementById("addAnswer").style.visibility = normalVisibility;
          document.getElementById("binaryDiv").style.visibility = binaryVisibility;
          for (const answerElement of document.getElementsByClassName("normalAnswer")) {
            answerElement.style.visibility = normalVisibility;
          }
          document.getElementById("errors").style.visibility = normalVisibility;
          document.getElementById("binaryQuestion").checked = isBinary;
        }

    h1= "Dota Quiz Fragen"
    p Bitte hier neue Fragen eintragen

    button(onclick='toggleBinaryQuestion()') Ja/Nein Frage
    button(onclick='addAnswer()')#addAnswer Weitere Antwort
    form(name="add-question", method="post", onsubmit="return validateForm()")#form
        div.actions
            input(type="submit", value="Speichern")
        input(id="binaryQuestion", style={visibility: 'hidden'}, name="binaryQuestion", type="checkbox", checked=false, height=0)
        div.input
            span.label Frage
            input(type="text", name="question", size=40)
        div.input#binaryDiv(style={visibility: 'hidden'})
            span.label Antwort: Richtig
            input(type='checkbox', name="binaryAnswer", checked=false)
        div.input#newAnswer(class="normalAnswer")
            span.label Antwort
            input(type="text", name="answers", size=40)
    #errors
        ul