extends layout

block content
    include main
    h1= 'Alle aktuellen Fragen (Gesamt: '
        = questions.length
        = ')'
    ul
      for question in questions
          li
              form(name='remove-question', method='post')
                if questions.length > 1
                  button(type='submit', style='color: red; border: none;', title='Löschen') X
                = ' '
                = question.question
                input(type="hidden", name="toDelete", value=question.question)
          if question.answers !== undefined
              ul
                for answer in question.answers
                    li= answer
          if question.binary
            if question.binaryAnswer
              div(style={'padding-left': '25px'}) Ja/Nein Antwort: - richtig
            else
              div(style={'padding-left': '25px'}) Ja/Nein Antwort: - falsch